################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/ScoobTestPlaywright/Traces
/ScoobTestPlaywright/Screenshots
/ScoobTestBDD/bin/Debug/net7.0/allure-results
